.All {
  background-color: #ece5dd;
  height: 100vh;
}

.Heading {
  padding: 10px;
  align-items: center;
  justify-content: center;
  text-align: center;
}



/* .chat-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    background-color: #f5f5f5;
  }

  .chat-header {
    padding: 10px;
    background-color: #3498db;
    color: white;
    text-align: center;
  }

  .chat-messages {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    background-color: #eaeaea;
  }

  .chat-message {
    margin-bottom: 10px;
  }

  .own-message {
    text-align: right;
  }

  .message-sender {
    font-weight: bold;
    margin-bottom: 5px;
  }

  .message-text {
    display: inline-block;
    padding: 10px;
    border-radius: 8px;
    background-color: #3498db;
    color: white;
  }

  .own-message .message-text {
    background-color: #2ecc71;
  }

  .message-timestamp {
    font-size: 0.8em;
    color: #555;
    margin-top: 5px;
  }

  .chat-input {
    display: flex;
    padding: 10px;
    background-color: white;
    border-top: 1px solid #ddd;
  }

  .chat-input input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-right: 10px;
    font-size: 16px;
  }

  .chat-input button {
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .chat-input button:hover {
    background-color: #064c7a;
  } */
