.RecvBox {
    display: flex;
    justify-content: flex-start;
    flex-grow: row;
}

p {
    padding: 10px;
    background-color: #dcf8c6;
    border-radius: 15%;
    max-width: 60%;
}

p strong {
    font-size: 13;
}